<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ski Resort Weather</title>
        <link rel="stylesheet" href="/repository/WeatherStyles.css"> 
    </head>
    
    <body>
        <h2>Current Conditions</h2>
        <table>
            <tr>
                <th>Resort Name</th>
                <th>Snow Accumulation</th>
                <th>Chance of Precipitation</th>
                <th>Day High Temp, F</th>
                <th>Day Low Temp, F</th>
            </tr>
            {{ range .}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Today.SnowAccumulation}}</td>
                <td>{{.Today.ChanceOfPrecipitation}}%</td>
                <td>{{.Today.TemperatureHigh}}</td>
                <td>{{.Today.TemperatureLow}}</td>
            </tr>
            {{ end }}
        </table>
        <h2>Tomorrow's Conditions</h2>
        <table class="table">
            <tr>
                <th>Resort Name</th>
                <th>Snow Accumulation</th>
                <th>Chance of Precipitation</th>
                <th>Day High Temp, F</th>
                <th>Day Low Temp, F</th>
            </tr>
            {{ range .}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Tomorrow.SnowAccumulation}}</td>
                <td>{{.Tomorrow.ChanceOfPrecipitation}}%</td>
                <td>{{.Tomorrow.TemperatureHigh}}</td>
                <td>{{.Tomorrow.TemperatureLow}}</td>
            </tr>
            {{ end }}
        </table>

        
    </body>
</html>